/.ant-targets-build.xml
/.htaccess
/.php_cs.cache
/build/
/config/local.config.php
/config/database.ini
/logs/sql.log
/logs/application.log
/files/
/modules/
/themes/
/application/test/config/database.ini
/application/asset/css/font-awesome/
/vendor/
/node_modules/
.sass-cache
.DS_Store
/application/language/debug.*
.buildpath
.project
.settings/org.eclipse.php.core.prefs
.settings/org.eclipse.php.debug.core.Debug_Process_Preferences.prefs
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.wst.validation.prefs
composer.json
composer.phar
